{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inherited:</title>
</head>
<body>
    <header>
        <h1>{{ user.username }} Logged in</h1>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'auth:logout' %}" class="authbtn">Logout</a></li>
                {% else %}
                <li><a href="{% url 'auth:login' %}" class="authbtn">Login</a></li>
                {% endif %}
            </ul>
        </nav>
        {% block content %}

        {% endblock content %}
    </header>
    <footer class="footer">
        <p>&copy;{{ now|date:"Y" }}Blog App</p>

    </footer>
</body>
</html>