{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App: Create</title>
</head>
<body>
    <h1>Add a new post</h1>
    <form action="{% url 'create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
         {# Display any form errors at the top #}
         <!-- check for  general form errors -->
         {% if form.non_field_errors %}

         <div class="errors">
            {{ form.non_field_errors }}<!--displays the error--->
         </div>
         {% endif %}
          {# Render each field manually so you can control errors #}
          <p>
            <!-- {{ form.title.label_tag }} -->
            <!-- {{ form.title }} -->
            {{ form.title.errors }}

          </p>
          <p>
            <!-- {{ form.content.label_tag }}<br>
            {{ form.content }}
            {{ form.content.errors }}
    </p> -->
    <!-- <p>
        <p>
        {{ form.image.label_tag }}<br>
        {{ form.image }}
        {{ form.image.errors }}
    </p> -->
    </p>
          

        {{ form.as_p }}
        <button type="submit">Create Post</button>
    </form>
    
{% endblock content %}